<app-header titulo="favorites list"></app-header>

<ion-content>

  <ion-list *ngIf="showList">
    <ion-item *ngFor="let favorite of listFavorites">
      <ion-label>
        <h3>{{favorite.name}}</h3>
        <p>{{favorite.email}}</p>
      </ion-label>
      <ion-label slot="end" class="ion-text-end">{{favorite.phone}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!showList">
    <ion-item>
      <ion-label>No has añadido ningún favorito</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
