<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>

  <ion-title color="primary">COMPONENTES IONIC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-image">
    <p class="content-text">En el menú se encuentran ejemplos de distintos
      componentes de Ionic como prueba y recordatorio de como usarlos.
    </p>
    <ion-img class="img-crazy-home" src="../../../assets/images/logo-ionic.jpeg"></ion-img>
  </div>

</ion-content>
